
body{


 width: 250px;
    height: 250px; 

}
a {
    text-decoration:none;
    color:rgb(255, 253, 253);
    font-weight:bold;
  }
a{
    text-decoration:none;
    background-color: #03a87c;
   
    color: rgb(250, 249, 249);
    padding: 2px 5px;
    font-family: sans-serif;
    border-radius: 2px;
    font-weight:bold;
    border-radius: 20px;
}

p1{
    color: azure;
    border-radius: 20px;
    animation-duration: 4s;
}

h1{
    color: aliceblue;

}
mark{
    background-color: crimson;
}
datalist h3{
    background-color: rgb(255, 255, 254);
}
button{
    margin-left: 80px;
}
object{
    border-right: 21px;
}
b{
    color: white;
    margin-left: 50px;

}
h44 {
    
    color: azure;
   
}
h1 {
    margin-left: 80px;
}
  

 
